/* body{
  font-family: Nunito;
}
input{
  text-align: right;
}
h3{
  text-align: center;
} */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main_div {
  width: 370px;
  background-color: #24231f;
  padding-bottom: 4px;
  margin-top: 100px;
  border-radius: 10px;
  overflow: hidden;
  padding-top: 50px;
  margin: auto;
}
.App{
  padding-top: 40px ;
}
.text>input {
  width: 97%;
  /* padding: 30px 0px; */
  background-color: #24231f;
  border: none;
  color: white;
  text-align: right;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5px;
}

.btn input {
  height: 60px;
  width: 78px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 7px;
  background-color: #363431;
  color: white;
  border: none;
  /* margin: 2px; */
  margin:4px;
  box-shadow: 0px 0px 1px white;
}

.six {
  display: flex;
  justify-content: space-around;

}

.six>input {
  background-color: #24231f;
  border: none;
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

input>.btn1 {
  background-color: red;
}
.App h1{
  text-align: center;
  padding-bottom: 10px;
} 